.links {
    list-style: none;
    padding: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    width: 50vw;
    margin-top: 10vh;
}

.scheduleContainer {
    background-color: rgba(255, 255, 255, 0.8);
    width: 80vw;
    max-width: 1024px;
    margin-top: 10vh;
}

.gamesTable {
    font-size: large;
    border: 1px solid #efefef;
    width: 100%;
}

.gamesTable thead th:nth-child(1), .gamesTable tbody td:nth-child(1) {
    text-align: left;
}

.gamesTable td {
    border-top: 1px solid #ccc;
}

.nextGameBadge {
    background-color: black;
    color: white;
    position: absolute;
    left: -3.3rem;
    top: 0.6rem;
    padding: 0px 8px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease-out;
}

.arrowStyles {
    width: 0;
    height: 0;
    border-left: 12px solid black;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
    right: -12px;
}

.showNextGameBadge {
    opacity: 100;
    transform: translateY(0);
}